{% extends 'musics/base.html' %}
{% block content %}

<section class="login-area section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="login-content">
                    <h3>Welcome Back 🎶</h3>
                    <!-- Login Form -->
                    <div class="login-form">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                              {{ form.username.label_tag }}
                              <input
                                type="text"
                                name="username"
                                class="form-control"
                                maxlength="150"
                                id="id_username"
                                required
                              />
                            </div>
                            <div class="form-group">
                              {{ form.password.label_tag }}
                              <input
                                type="password"
                                name="password"
                                class="form-control"
                                id="id_password"
                                required
                              />
                            </div>
                            {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                            <p style="font-size: 13px;">
                              {{ error|escape }}
                            </p>
                            {% endfor %} {% endif %}
                            <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                          </form>
                    </div>
 
            
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
                        </div>
				</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}